<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<div class="usa-overlay"></div>

<div class="position-relative">

<div class="display-flex flex-column flex-align-center margin-y-3">
  <nav class="usa-nav">
    <div class="usa-nav__inner"><button class="usa-nav__close"><img src="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.11.1/img/usa-icons/close.svg" role="img" alt="close"></button>
    <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item"><a href="#background">Background</a></li>
        <li class="usa-nav__primary-item"><a href="#case-study-hhs-complaint-form-screener">Case Study</a></li>
        <li class="usa-nav__primary-item"><a href="#template-workshop">Workshop</a></li>
    </ul>
    </div>
  </nav>
</div>