{% if slide.heading-level == 2 %}
<h2 class="custom-font-size-17 bixal-font-serif {% if slide.template == 'blockquote' %}display-none{% endif %}">{{ slide.title }}</h2>
{% elsif slide.heading-level == 3 %}
<h3 class="custom-font-size-17 bixal-font-serif {% if slide.template == 'blockquote' %}display-none{% endif %}">{{ slide.title }}</h3>
{% else %}
<div class="custom-font-size-17 bixal-font-serif {% if slide.template == 'blockquote' %}display-none{% endif %}">{{ slide.title }}</div>
{% endif %}