<section class="bg-bixal-{{ slide.background-color }}">
    <a name="{{ slide.title | slugify }}"></a>
    <div class="grid-container display-flex">
        <div class="display-flex flex-column height-viewport tablet:font-body-lg desktop:font-body-xl bixal-font-sans-serif text-bixal-{{ slide.text-color }}">
            <div class="bixal-font-serif flex-fill display-flex">
                <h1 class="flex-align-self-center custom-font-size-18 line-height-3 text-ls-1">{{ slide.title }}</h1>
            </div>
        </div>
    </div>
</section>