<section class="bg-bixal-{{ slide.background-color }}">
    <a name="{{ slide.title | slugify }}"></a>
    <div class="grid-row">
        <div class="grid-col-6 order-{{ slide.text-order }}">
            <div class="grid-container">
                <div class="display-flex flex-column flex-justify height-viewport tablet:font-body-lg desktop:font-body-xl bixal-font-sans-serif text-bixal-{{ slide.text-color }} text-semibold">
                    {% include slide-count.html %}
                    <div class="flex-fill">
                        {% include slide-title.html %}
                        {{ slide.content }}
                    </div>
                    {% include slide-next.html %}
                </div>
            </div>
        </div>
        <div class="grid-col-6" style="background: {{ slide.image-alignment }} / auto 100% no-repeat url({{ site.baseurl }}/assets/img/{{ slide.bg-image }});">
            
        </div>
    </div>
    
</section>