<section class="bg-bixal-{{ slide.background-color }}">
    <a name="{{ slide.title | slugify }}"></a>
    <div class="grid-container display-flex">
        <div class="display-flex flex-column height-viewport tablet:font-body-lg desktop:font-body-xl bixal-font-sans-serif text-bixal-{{ slide.text-color }}">
            {% include slide-count.html %}
            <div class="bixal-font-serif flex-fill display-flex">
                <h2 class="flex-align-self-center custom-font-size-18">{{ slide.title }}</h2>
            </div>
            {% include slide-next.html %}
        </div>
    </div>
</section>