<section tabindex="0" aria-label="New slide" class="bg-bixal-{{ slide.background-color }}">
    <a name="{{ slide.title | slugify }}"></a>
    <div class="grid-container">
        <div class="display-flex flex-column flex-justify height-viewport tablet:font-body-lg desktop:font-body-xl bixal-font-sans-serif text-bixal-{{ slide.text-color }} text-semibold">
            {% include slide-count.html %}
            <div class="flex-fill">
                <h1 class="bixal-font-serif">{{ slide.title }}</h1>
                {{ slide.content }}
            </div>
            {% include slide-next.html %}
        </div>
    </div>
</section>