p, li, .usa-intro {
  line-height: 1.5;
}

li {
  margin-bottom: .5em;
}

h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: underline;
}

.text-semibold {
  font-weight: 600;
}

/* system token 16, ~56px */
.custom-font-size-16 {
  font-size: 3.5rem !important; 
}

/* system token 18, ~80px */
.custom-font-size-18 {
  font-size: 5rem !important; 
}

/* system token 17, ~64px */
.custom-font-size-17 {
  font-size: 4rem !important; 
}

.text-bixal-white {
  color: white;
}

.bg-bixal-white {
  background-color: white;
}

.handout {
  font-family: var(--bixal-font-sans-serif);
  font-size: 125%;
}

.handout a {
  color: var(--bixal-purple);
}

.handout a:hover, .handout a:active, .handout a:focus {
  text-decoration: none;
}

.handout p {
  margin-top: .5em;
}

.handout img {
  /* base-lightest */
  border: 1px solid #f0f0f0;
}

.handout h1, .handout h2, .handout h3, .handout h4, .handout h5, .handout h6 {
  font-family: var(--bixal-font-serif);
  padding-top: .5em;
  margin-bottom: 0;
}

.handout h2, .handout-footer {
  border-top: 2px solid var(--bixal-teal);
}
